#main.clearfix
  :if article.version
    %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
  %h1
    %a{href: "/" + article.name}&= article.title
  = markdownEncode(article.markdown)
  %hr{style:"clear:both"}
  #disqus_thread.body
  :script
    var disqus_shortname = 'mktest'; // required: replace example with your forum shortname
    var disqus_identifier = '#{article.name}';
    var disqus_url = "http://localhost:3000/#{article.name}";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();


  %a.dsq-brlink(href="http://disqus.com")
    blog comments powered by
    %span.logo-disqus
      Disqus
		
		
#sidebar
  .aside.clearfix
    %h4 About the Author
    %img.headshot{src: gravitar(author.email) }
    %dl
      %dt Name:
      %dd&= author.name
    :if author.github
      %dl
        %dt Github:
        %dd= github(author.github)
    :if author.bitbucket
      %dl
        %dt BitBucket:
        %dd= bitbucket(author.bitbucket)
    :if author.twitter
      %dl
        %dt Twitter:
        %dd= twitter(author.twitter)
    :if author.location
      %dl
        %dt Location:
        %dd&= author.location
    :if author.homepage
      %dl
        %dt Links:
        %dd
          %a{href: author.homepage} Homepage

  .aside
    %h4
      About this Article
    :if article.date
      %dl{title: article.date}
        %dt
          Date Released:
        %dd
          &= formatDate(article.date, "%l %F %j, %Y")
    :if article.lastUpdated
      %dl{title: article.lastUpdated}
        %dt
          Last Updated:
        %dd
          &= formatDate(article.lastUpdated, "%l %F %j, %Y")

    :if article.node
      %dl
        %dt
          Node Version:
        %dd
          %a{ href: "http://github.com/ry/node/tree/" + article.node }
            node #{article.node}

    :if article.dependencies
      %dl
        %dt
          Dependency Versions:
        %dd
          %ul
            :each dependency in article.dependencies
              %li
                %a{ href: "http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d" }
                  haml-js v0.2.2

    :if article.uniqueSnippets
      %dl
        %dt
          Code Samples:
        %dd
          %ul
            :each base, snippet in article.uniqueSnippets
              %li
                %a{ href: snippet.filename}
                  &= base

    %dl
      %dt
        Revisions:
      %dd
        %ul
          :each version, stat in article.log
            %li{title: stat.message}
              %a{ href: "/#{version}/#{article.name}" }
                &= new Date(stat.date).toUTCString()

  :if article.related && article.related.length > 0
    .bubble
      %h4
        Other Articles by this Author
      %ul
        :each related in article.related
          %li
            %a{href: "/" + related.name}&=related.title
            :if related.node
              %span.versiontag&= related.node

  .bubble= markdownEncode(description)